.consort-lvl-img {
    width: 70%;
    max-width: 400px;
}

.formula-img {
    width: 70%;
    max-width: 400px;
}

.vizier-tactic-img {
    width: 70%;
    max-width: 400px;
}

.tactic-index-img {
    width: 70%;
    max-width: 400px;
}